@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: url('../imagem/fundo-home-ferro-1.jpg')no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

.corpo{
    width: 950px;
    margin: auto;
}


.titulo{
    color: white;
    text-align: center;
    margin-top: 20px;
}

.conteudo{
    display: table-cell;
    
}

.imagem{
    display: table-cell;
    float: left;
    mix-blend-mode:exclusion;
    margin-right: 50px;
}

.texto{
    color: white;
    display: table-cell;
    float: left;
    width:600px;
    margin-top: 150px;
    text-align: justify;
    font-size: 16px;
    
}

.butao{
   position: relative;
   margin-top: -30px;
   text-align: center;
   color: blue;
   
}



